@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
.App {
  font-family: "Nunito", sans-serif;
}

:root {
  --nav-color: hsl(210, 11%, 15%); /* Dark navy blue */
  --nav-color-hover: hsl(210, 11%, 35%); /* Slightly lighter navy blue */
  --nav-border-color: hsl(210, 11%, 35%); /* Slightly lighter navy blue */
  --light-color: hsl(209, 100%, 92%); /* Off-white/light gray */
  --font-color: hsl(0, 0%, 100%); /* White */
  --font-color-hover: hsl(0, 0%, 40%); /* Dark gray */
}
